body { 
background-image: url(scattered-white-clouds.jpg);
background-size: cover;
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{ text-align: center;
color: aliceblue;}
.container {
    background-color: rgba(0, 0, 0, 0.3);
    width: 1200px; height: 500px;
    margin-inline: auto;
 margin-top: 80px;
border: 900cm; border-color: aqua; border-radius: 30px;

}

.cards-home{
display: flex;
    justify-content: center;
    gap: 20px;
}


img { 
    width: 200px;
    height: 200px;
    align-items: center;
    border-radius:
}

.item button{
padding: auto;
border: solid blue;
border-radius: 10px;
border: 12px
 padding: 20px;
    margin-top: 20px;
      width: 150px;
    text-align: center;
}


.item {
    background-color: rgb(190, 116, 215);
   padding: 20px;
    margin-top: 20px;
    color: white;
    width: 250px;
    text-align: center;
     border-radius: 10px;

}
